    {{ $current := . }}
    <div class="side">
      <a href="{{ "/index.xml" | relLangURL }}"><i class="fa fa-rss-square" aria-hidden="true"> {{ i18n "subscribe" }}</i></a>
      <h2>{{ title (i18n "category") }}</h2>
      <ul class="categories">
        {{range .Site.Taxonomies.categories }}
          {{ $active := and (eq $current.Kind "term") (eq $current.Type "categories") (eq $current.Title .Page.Title) }}
          {{ $active = or $active (and (eq $current.Kind "page") (eq $current.Type "posts") (in $current.Params.Categories .Page.Title)) }}
          <li{{ if $active }} class="active"{{ end }}><a href="{{.Page.Permalink}}">{{.Page.Title}}</a></li>
        {{end}}
      </ul>
      <h2>{{ title (i18n "tag") }}</h2>
      <div class="tags">
      {{range .Site.Taxonomies.tags }}
        {{ $active := and (eq $current.Kind "term") (eq $current.Type "tags") (eq $current.Title .Page.Title) }}
        {{ $active = or $active (and (eq $current.Kind "page") (eq $current.Type "posts") (in $current.Params.Tags .Page.Title)) }}
        <a{{ if $active }} class="active"{{ end }} href="{{.Page.Permalink}}"><div class="tag"><i class="fa fa-tags" aria-hidden="true">&nbsp;{{.Page.Title}}</i></div></a>
      {{end}}
      </div>
    </div>
