    {{ $current := . }}
    <div class="side">
      <a href="{{ "/index.xml" | relLangURL }}"><i class="fa fa-rss-square" aria-hidden="true"> {{ i18n "subscribe" }}</i></a>
      <h1>{{ title (i18n "posts") }}</h1>
      <ul>
        {{- range ( where site.RegularPages "Section" "posts" | first 5 ) -}}
          {{- .Render "side-li" -}}
        {{- end -}}
      </ul>
      <h1>{{ title (i18n "category") }}</h1>
      <ul>
        {{range .Site.Taxonomies.categories }}
          <li><a href="{{.Page.Permalink}}">{{.Page.Title}}</a></li>
        {{end}}
      </ul>
      <h1>{{ title (i18n "tag") }}</h1>
      <div class="tags">
      {{range .Site.Taxonomies.tags }}
        {{ $active := and (eq $current.Kind "term") (eq $current.Type "tags") (eq $current.Title .Page.Title) }}
        <a{{ if $active }} class="active"{{ end }} href="{{.Page.Permalink}}"><div class="tag"><i class="fa fa-tags" aria-hidden="true">&nbsp;{{.Page.Title}}</i></div></a>
      {{end}}
      </div>
    </div>
