    <div class="side">
      <a href="{{ "/index.xml" | relLangURL }}"><i class="fa fa-rss-square" aria-hidden="true"></i> {{ i18n "subscribe" }}</a>
      <h1>{{ title (i18n "posts") }}</h1>
      <ul>
        {{- range ( where site.RegularPages "Section" "posts" | first 5 ) -}}
          {{- .Render "side-li" -}}
        {{- end -}}
      </ul>
      <h1>{{ title (i18n "category") }}</h1>
      <ul>
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
      <h1>{{ title (i18n "tag") }}</h1>
      <ul>
        {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>
