<section class="container list">
  <div class="main-wrapper">
    <div id="mainsection" class="main">
      <div class="blog-header">
        <div class="img">
          {{ with .Site.Params.blogimgurl }}
            <img src="{{ . | relURL }}" alt="Blog header image"></img>
          {{ end }}
        </div>
        <div class="slogan">{{ .Site.Params.blogSlogan }}
        </div>
      </div>
      <div class="blog-body">
        {{ .Content }}
        <ul>
          {{ range .Paginator.Pages }}
          <li>
            <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
            <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
        {{ partial "pagination.html" . }}
      </div>
    </div>
  </div>
  {{ partial "posts/sidebar.html" . }}
</section>
